.green {
  color: green;
}
.blue {
  color: blue;
}
/* nieuzywane, purguje */
.yellow {
  color: yellow;
}

:root {
  line-height: 1.4rem;
  
}
:root{
  --greenVariable: green;
  --redVariable: red;
}

h3 {
  color: var(--greenVariable);
}